@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: orange;
    color: white;
}


.nav-items>ul {
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 20px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 20px;
}

.card>img {
    width: 100%;
}

.restro-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
}